button {
    background-color: blue;
    color: white;
    padding: 10px;
}
button:hover {
    background-color: green;
}
button:active {
    background-color: red;
}
input:focus {
    border :2px solid green;
    outline: none;
}
li:first-child {
    color: red;
    font-weight: bold;
}
li:last-child {
    color: blue;
}